* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$primary: #106ebe;

$primary-text-color: #106ebe;
$secondary-text-color: #fff;
$third-text-color: rgba(0, 0, 0, 0.85);
$primary-text-size: 2.2rem;
$secondary-text-size: 1.1rem;
$third-font-size: 1.5rem;

html,
body {
    font-size: 62.5%;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
}

.flex {
    display: flex;
    flex-direction: column;
}

.menu {
    min-height: 6vh;
    padding: 0.5rem 1rem 0.5rem 1rem;
}

.scroll-menu::-webkit-scrollbar {
    width: 0;
}

.date {
    font-size: $primary-text-size;
}

.fas {
    display: inline-block;
    height: 25px;
    width: 25px;
}
